<a href="https://colab.research.google.com/github/noviceBec/noviceBec/blob/main/py4e_excercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
 #Exercise2: Write a program that uses input to prompt a user for their name and 
 #then welcomes them.
 #the sequence \n at the end or the prompt represents a newline

name = input('Enter your name?\n')
print('Hello', name)

Enter your name?
Beccy
Hello Beccy

In [40]:
#Exercise3: Write a program to prompt the user for hours and rate per hour to 
#compute gross pay.

print('Input hours worked and press <Enter>')
hours = input('Enter Hours:\n')
print(type(hours))
print('Input Rate per hour and press <Enter>')
rate = input('Enter Rate:\n')
print(type(rate))
pay = int(hours) * float(rate)
print('Pay:',pay)
print(type(pay))

Input hours worked and press <Enter>
Enter Hours:
35
<class 'str'>
Input Rate per hour and press <Enter>
Enter Rate:
2.75
<class 'str'>
Pay: 96.25
<class 'float'>

In [26]:
#Exercise4: Assume that we execute the following assignment statements:
width = 17
height = 12.0

#For each of the following expressions, write the value of the expression and
# the type (of the value of the expression)

#1. width//2
print(width//2)
print(type(width))

#2. width/2.0
print(width/2.0)
print(type(width))

#3. height//3
print(height//3)
print(type(height))

#4. 1 + 2 * 5
exp = 1 + 2 * 5
print(exp)
print(type(exp))

8
<class 'int'>
8.5
<class 'int'>
4.0
<class 'float'>
11
<class 'int'>

In [36]:
#Exercise 5: Write a program which prompts the user for a Celsius temperature,
# convert the temperature to Fahrenheit, and print out the converted temperature.

celsius = input('What is the Celsius temperature?\n')
Fahrenheit = 9/5 * int(celsius) + 32
print('The temperature is',Fahrenheit,'degrees Fahrenheit')

What is the Celsius temperature?
20
The temperature is 68.0 degrees Fahrenheit

In [45]:
print(type(98.6))
print("123"+"abc")
x = 3
print(x + 2)
print(42 % 10)

<class 'float'>
123abc
5
2

In [46]:
print(1 + 2 * 3 - 8 /4)

5.0

In [47]:
x = int(98.6)
print(x)
print(type(x))

98
<class 'int'>

In [49]:
hrs=input('Enter hours:')
trf=input('Enter rate:')
vlr=float(hrs)*float(trf)
print('Payment:',vlr)

Enter hours:35
Enter rate:2.75
Payment: 96.25

In [50]:
hrs=input('Enter hours:')
trf=input('Enter rate:')
vlr=int(hrs)*float(trf)
print('Payment:',vlr)

Enter hours:35
Enter rate:2.75
Payment: 96.25